/* reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea, select,
span, article, footer, time, small, h3, h4, h5 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

input, textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

html, body {
  height: 100%;
}

.app {
  color: #fbfaf8;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
}

#root {
  width: 100%;
}

.conference, .ticket, .wallet {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conference {
  margin-top: 30px;
}

.conference > div, .wallet > div {
  margin: 4px;
}

.push-righty {
  margin-left: 20px;
}

.push-right {
  margin-left: 40px;
}

.push-righter {
  margin-left: 80px;
}

.push-bottom {
  margin-bottom: 20px;
}

.header {
  margin-bottom: 15px;
  font-size: 30px;
}

input, button, textarea {
	font-weight: none;
 	padding: 6px 8px;
 	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 9px;
}

button:hover {
  background-color: #1c1b1a;
  cursor: pointer;
}

option {
  padding: 6px 8px;
}

.select-style {
    border: 1px solid #ccc;
    width: 270px;
    border-radius: 3px;
    overflow: hidden;
    background-color: gray;
}

.select-style select {
    color: white;
    padding: 6px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
